.mar-top-10{ margin-top: 10px;}
.mar-top-15{ margin-top: 15px;}
.mar-top-20{ margin-top: 20px;}
.mar-top-30{ margin-top: 30px;}
.mar-lt-10{ margin-left: 10px;}
.mar-lt-20{ margin-left: 20px;}

#app { margin-top: 20px; }
